body{
    background-color: #E3E5D0;
    font-family: 'Candal', sans-serif;;
}

h1 {
    font-size: 90px;
    margin-bottom: 0;
}

img{
    float: right;
    size: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

#glavnitekst{
    background-color: #7CABA6;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

#ukupnotekst{
    margin-top: 15%;
}